<script>

    //Array inicial
    var numerosIniciais = [-6, 4, -5, 8, -10, 0, 8];
    // var numerosIniciais = [40, 0, -20, -10];
    document.write(" Array Inicial: " + numerosIniciais);

    var numPositivos = [];
    var numNegativos = [];
    var produtoMaximo = [];

    separaNumerosPositivos();
    separaNumerosNegativos();
    ordenaNumerosNegativos();
    numerosNegativosValidos();
    document.write("<br><hr> Array de Saída: " + geraArrayDeSaida());
    document.write("<br><hr> Valor do Produto Máximo: " + resultadoProdutoMaximo());

    //Separa os números positivos no array numPositivos
    function separaNumerosPositivos() {
        for (let index = 0; index < numerosIniciais.length; index++) {
            let elemento = numerosIniciais[index];
            if (elemento > 0) {
                numPositivos.push(elemento);
            }
        }
    }

    //Separa os números negativos no array numNegativos
    function separaNumerosNegativos() {
        for (let index = 0; index < numerosIniciais.length; index++) {
            let elemento = numerosIniciais[index];
            if (elemento < 0) {
                numNegativos.push(elemento);
            }
        }
    }

    //Ordena os números negativos. 
    function ordenaNumerosNegativos() {
        let aux;

        for (let index = 0; index < numNegativos.length; index++) {
            for (let i = 0; i < numNegativos.length; i++) {
                if (numNegativos[index] < numNegativos[i]) {
                    aux = numNegativos[index];
                    numNegativos[index] = numNegativos[i];
                    numNegativos[i] = aux;
                }
            }
        }
    }

    //Filtra os números negativos válidos
    function numerosNegativosValidos() {
        let arrayAux = [];
        if (numNegativos.length % 2 == 0) {
            for (let index = 0; index < numNegativos.length; index++) {
                //let elemento = numNegativos[index];
                arrayAux.push(numNegativos[index]);
            }
        } else {
            for (let index = 0; index < numNegativos.length - 1; index++) {
                //let elemento = numNegativos[index];
                arrayAux.push(numNegativos[index]);
            }
        }
        numNegativos = arrayAux;
    }

    //Junta os arrays de números positivos e negativos gerando o produto máximo
    function geraArrayDeSaida() {
        produtoMaximo = numPositivos.concat(numNegativos);
        return produtoMaximo;
    }

    //Finaliza o programa mostrando o resultado
    function resultadoProdutoMaximo(){
        let valor = 1;
        for (let index = 0; index < produtoMaximo.length; index++) {
            valor *= produtoMaximo[index];
        }
        return valor;
    }

</script>